html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

body {
  background-color: lightblue;
}

.mobilenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobilenav #logo {
  margin: 17px 16px;
  margin-left: 3.2rem;
}

.mobilenav {
  width: 100%;
  overflow: hidden;
  height: 9%;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  display: block;
}

.mobilenav #links {
  display: none;
  height: 100%;
}

.mobilenav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  display: block;
}

.mobilenav a.icon {
  background: aquamarine;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.mobilenav li a {
  display: block;
  color: unset;
  text-decoration: unset;
  font-size: 18px;
}

.inner-mobilenav {
  display: flex;
}

.inner-mobilenav #mobile-subscribe {
  margin: auto;
  margin-right: 0;
  font-size: 14px;
  padding: unset;
  padding: 8px;
  border-right: 2px solid whitesmoke;
  height: fit-content;
  text-transform: uppercase;
  color: unset;
}

.sub-mobile-links {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

.sub-mobile-links a {
  font-size: 14px;
  font-weight: normal;
  padding: 12px 10px;
}

.navbar {
  display: none;
}

@media (min-width: 700px) {
  .mobilenav {
    display: none;
  }
  .navbar {
    height: auto;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    top: 0;
    position: fixed;
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .topnav,
  .bottomnav {
    display: flex;
    width: 70%;
    margin: auto;
  }

  .topnav {
    padding: 1.2rem 0;
  }

  .topnav ul {
    margin-left: auto;
  }

  .topnav li a {
    color: unset;
    text-decoration: unset;
  }

  .topnav li {
    margin: auto 10px;
    display: block;
  }

  #bottomnav-logo {
    padding-right: 1.5rem;
    display: none;
  }

  .bottomnav li a {
    color: unset;
    text-decoration: unset;
  }

  .bottomnav ul {
    width: 100%;
  }
  .bottomnav li {
    font-size: 16px;
    display: block;
    margin-right: auto;
    padding: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .bottomnav-right {
    width: 20% !important;
    margin-left: auto;
    margin-right: unset;
  }

  .bottomnav-right li {
    margin-right: 20px;
  }
}

.dummy-content {
  height: 400px;
  width: 700px;
  background-color: white;
  border: 3px black;
  margin: 1rem auto;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
