html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: lightblue;
}

.navbar {
  height: auto;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  top: 0;
  position: fixed;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.topnav,
.bottomnav {
  display: flex;
  width: 70%;
  margin: auto;
}

.topnav {
  padding: 1.2rem 0;
}

.topnav ul {
  margin-left: auto;
}

.topnav li {
  margin: auto 10px;
  display: block;
}

.topnav li a {
  color: unset;
  text-decoration: unset;
}

.bottomnav li a {
  color: unset;
  text-decoration: unset;
}

.bottomnav ul {
  width: 100%;
}
.bottomnav li {
  font-size: 16px;
  display: block;
  margin-right: auto;
  padding: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}

#subscribe {
  margin-left: auto;
  margin-right: unset;
}
.dummy-content {
  height: 400px;
  width: 700px;
  background-color: white;
  border: 3px black;
  margin: 1rem auto;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}
